[Unit]
Description={{ service_description }}
After=network.target

[Service]
Type=simple
User={{ user }}
ExecStart=/opt/{{ nexus_folder }}/bin/./nexus run
Restart=on-failure

[Install]
WantedBy=multi-user.target
